# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
CREDITS.txt
LICENSE.txt
README.txt
changelog.txt
src/generated/*
src/test/*
*.DS_Store
# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
